# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
packages/

# Cache
*.cache
*.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Others
TestResults/
